.ant-form-item{
    width: 100%;
    margin-bottom: 8px;

    
    .ant-col {
        width: 100% ;

        display: block;
        input{
            padding: 6px ;
            background: none;
            // width: 100%;
        }
        .ant-input-number{
            width: 100%;
            padding: 4px;
        }
    }
}