.hero{
    background: linear-gradient(rgba(165, 42, 42, 0.5), rgba(0, 0, 255, 0.288)), url("/background/hero-banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center 10%;
    .ant-btn{
        background: #1c638b;
        padding: 42px;
        color: wheat;
        font-size: 20px;
        font-weight: 600;
        border: black;
        &:hover{
            background-color: orange !important;
        }
    }

    .ant-form-item{
        width: 100%;
        .ant-col {
    
            display: block !important;
            .ant-input{
                background: none;
                padding: 20px;
                color: white;
                font-size: 17px;


            }

            .ant-input::placeholder{
                color: white;
                opacity: 0.7;

            }
            input{
          

            }
            .ant-input-number{
                padding: 4px;
            }
            .ant-select{
                height: 70px;

                .ant-select-selector{
                    background: none;
                    color: white;
                    font-size: 16px;
                    input::placeholder{
                        color: white;
                    }
                    .ant-select-selection-placeholder {
                        color: white ;
                        opacity: 0.6;
                      }
                }
            }
         
        }
    }
}


.heroform{
    // background: linear-gradient(rgba(165, 42, 42, 0.5), rgba(0, 0, 255, 0.288)), url("/background/hero-banner.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // background-position: center 10%;
    // @apply bg-red-100;
    .ant-btn{
        // background: #1c638orangeb;

        background-color: #0866ff;       
        padding: 32px;
        color: wheat;
        font-size: 20px;
        font-weight: 600;
        border: black;
        width: 100%;
        &:hover{
            border: 1px solid rgba(66, 66, 66, 0.185) !important;

            background-color:  #0867ffe0;
        }
    }

    .ant-form-item{
        width: 100%;
        .ant-col {
    
            display: block !important;
            .ant-input{
                padding: 14px;
                color: #1c638b;
                font-size: 17px;
                // border: 1px solid gray ;
                @apply bordre border-gray-200


            }

            .ant-input::placeholder{
                color: #666;
                font-weight: 400;
                opacity: 0.6;

            }
            input{
          

            }
            .ant-input-number{
                padding: 4px;
            }
            .ant-select{
                height: 58px;

                .ant-select-selector{
                    // background: rgb(221, 221, 221);
                    color: #1c638b;
                    font-size: 16px;
                    // @apply p-10;
                    .ant-select-selection-placeholder {
                        color: white ;
                        opacity: 0.6;
                        color: #6666;
                        font-weight: 600;
                        opacity: 0.4;
                      }
                }
            }
         
        }
    }
}